{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block titulo %}PADRÃO{% endblock titulo %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block css_js %} {% endblock css_js %}
    </head>
    <body>
        {% for mensagem in messages %}
        <div><p>{{ mensagem }}</p></div>
        {% endfor %}

        {% include 'global/parciais/menu.html' %}
        {% block conteudo %} {% endblock conteudo %}
        {% include 'galeria/parciais/footer.html' %}
    </body>
</html>


