<nav>
    <ul>
        <li><a href="{% url 'admin:index' %}">ADMIN</a></li>
        <li><a href="{% url 'galeria:index' %}">GALERIA</a></li>
        <li><a href="{% url 'galeria:imagens' %}">IMAGENS</a></li>
        <li><a href="{% url 'usuario:login' %}">LOGIN</a></li>
        <li><a href="{% url 'usuario:cadastro' %}">CADASTRO</a></li>
        <li><a href="{% url 'usuario:logout' %}">LOGOUT</a></li>
    </ul>
</nav>
<div>
    <form action="{% url 'galeria:busca' %}">
        <input type="text" name="buscando" placeholder="o que quer buscar?">
        <button type="submit">buscar</button>
    </form>
</div>

